/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

a {
  font-family: sans-serif; }

body {
  background: #e6e6e6;
  font-family: sans-serif;
  font-size: 14px;
  font: caption;
  color: #222; }

ul {
  -webkit-padding-start: 0px; }

.banner {
  position: relative;
  display: table;
  background-color: #808080;
  width: 100%;
  padding: 20px;
  min-height: 250px;
  color: #fff;
  background: transparent url("../img/banner.jpg") right top no-repeat;
  background-size: cover; }
  .banner::before {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.61); }
  .banner .banner-content {
    display: table-cell;
    text-align: center;
    position: relative;
    vertical-align: bottom;
    z-index: 99; }
  .banner h4 {
    font-size: 0.9em; }

.btn {
  color: #fff;
  border: 0px;
  display: inline-block;
  margin-right: 1em;
  padding: .5em 1em;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 3px; }
  .btn.btn-primary {
    color: #fff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#214e92+0,214e92+0,14305a+100 */
    background: #214e92;
    /* Old browsers */
    background: -moz-linear-gradient(top, #214e92 0%, #214e92 0%, #14305a 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #214e92 0%, #214e92 0%, #14305a 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, from(#214e92), color-stop(0%, #214e92), to(#14305a));
    background: -o-linear-gradient(top, #214e92 0%, #214e92 0%, #14305a 100%);
    background: linear-gradient(to bottom, #214e92 0%, #214e92 0%, #14305a 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#214e92', endColorstr='#14305a',GradientType=0 );
    /* IE6-9 */
    width: 100%; }

.btn-outline {
  border: 1px solid #fff;
  background-color: #f5f5f5;
  color: #a81434; }

#login-modal input[type=text], input[type=password] {
  margin-top: 10px; }

.sign {
  height: 40px;
  text-align: right;
  display: table-cell;
  vertical-align: middle;
  list-style: none; }
  .sign li {
    display: inline-block;
    margin-right: 20px; }
    .sign li a {
      color: #fff; }

.single-ans {
  margin-top: 1em; }

.answer-status {
  padding: 10px;
  text-transform: uppercase; }

.checkanswer {
  margin-top: 2em; }

.wizard > .content {
  background: #eee;
  display: block;
  margin: .5em;
  min-height: 15em;
  overflow: hidden;
  position: relative;
  width: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.wizard > .content > .body {
  float: left;
  position: absolute;
  width: 95%;
  height: 95%;
  padding: 2.5%; }

.wizard > .content > .title {
  position: absolute;
  left: -999em; }

.wizard > .actions {
  position: relative;
  display: block;
  text-align: right;
  width: 100%; }

.wizard > .actions > ul {
  display: inline-block;
  text-align: right; }

.wizard > .actions > ul > li {
  margin: 0 .5em;
  float: left;
  display: block;
  padding: 0; }

.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
  color: #fff;
  background: #14305A;
  border: 0px;
  display: block;
  padding: .5em 1em;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 3px; }
  .wizard > .actions a:hover, .wizard > .actions a:hover:hover, .wizard > .actions a:active:hover {
    background-color: #1a3d73; }

.wizard > .actions .disabled a, .wizard > .actions .disabled a:hover, .wizard > .actions .disabled a:active {
  background: #eee;
  color: #aaa; }

.wizard > .actions > ul > li:first-child {
  display: none; }

.steps {
  display: none; }

.pool {
  padding: 10px;
  position: relative; }

.logologin {
  text-align: center; }
  .logologin img {
    width: 135px; }

.bg-success {
  background-color: #dff0d8; }

.bg-danger {
  background-color: #f2dede; }

.login-btn {
  margin-bottom: 10px; }

.wrapper {
  margin-top: 45px;
  margin-bottom: 45px; }

.site-wrap {
  background-color: #fff;
  font-size: 0.9em;
  max-width: 750px;
  margin: 0 auto;
  display: block; }

.header-top, .header-bottom {
  padding: 0 20px;
  position: relative;
  display: table;
  width: 100%; }

.logo {
  position: absolute;
  left: 4%;
  z-index: 5;
  top: 10px; }
  .logo img {
    width: 120px; }

.pool h3 {
  text-align: center; }

.header-top {
  height: 45px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#214e92+0,214e92+0,14305a+100 */
  background: #214e92;
  /* Old browsers */
  background: -moz-linear-gradient(top, #214e92 0%, #214e92 0%, #14305a 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #214e92 0%, #214e92 0%, #14305a 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#214e92), color-stop(0%, #214e92), to(#14305a));
  background: -o-linear-gradient(top, #214e92 0%, #214e92 0%, #14305a 100%);
  background: linear-gradient(to bottom, #214e92 0%, #214e92 0%, #14305a 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#214e92', endColorstr='#14305a',GradientType=0 );
  /* IE6-9 */ }
  .header-top .main-nav {
    display: table-cell;
    vertical-align: middle;
    text-align: right; }
    .header-top .main-nav a {
      color: #fff;
      color: rgba(255, 255, 255, 0.71);
      margin-right: 5px; }
  .header-top p {
    color: #fff;
    display: table-cell;
    vertical-align: middle; }

.header-bottom {
  height: 50px;
  background-color: #ffe793;
  overflow: hidden; }
  .header-bottom .acc {
    text-align: right;
    display: table-cell;
    vertical-align: middle; }
  .header-bottom .points {
    display: table-cell;
    vertical-align: middle; }
    .header-bottom .points p {
      margin: 0; }

.final-points {
  text-align: center; }
  .final-points h1 {
    font-size: 7em; }

.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-left: 20px; }

.form-signin-heading {
  text-align: center;
  font-size: 16px; }

.pay {
  padding-top: 40px;
  padding-bottom: 40px; }

.small-pay {
  text-align: center;
  color: #774b4b; }

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto; }
  .form-signin .btn-group-lg > .btn, .form-signin .btn-lg {
    border-radius: 3px; }
  .form-signin .btn-opera {
    color: #fff;
    background: #14305A;
    border: 0px; }
    .form-signin .btn-opera:focus {
      outline: none; }
    .form-signin .btn-opera:hover {
      background-color: #1a3d73; }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 20px; }
  .form-signin .checkbox {
    font-weight: normal; }
  .form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    border: 1px solid #999;
    padding: .75em;
    border-radius: 2px;
    -webkit-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    transition: all .25s ease-in;
    -webkit-box-shadow: inset 0 0 0;
    box-shadow: inset 0 0 0;
    -webkit-box-shadow: 0 0 2px #ddd;
    box-shadow: 0 0 2px #ddd; }
    .form-signin .form-control:focus {
      outline: none;
      border: 1px solid #14305A;
      z-index: 2; }
  .form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .form-signin input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

.heading {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  color: #214E92;
  margin-bottom: 0.5em; }

.how-to-play h4 {
  text-align: center; }

.how-to {
  list-style-type: none;
  overflow: hidden;
  padding-top: 20px;
  text-align: center; }
  .how-to li {
    display: inline-block;
    width: auto;
    text-transform: capitalize;
    margin: 0 20px 40px 20px;
    text-align: center; }
    @media only screen and (min-width: 520px) {
      .how-to li {
        width: 30%; } }
    .how-to li i {
      display: block;
      width: 75px;
      margin: 0 auto 10px; }
      .how-to li i img {
        width: 80%; }

.prizes {
  background-color: #E6E8E6;
  padding: 10px; }
  .prizes .list-prize li {
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 2em; }
    .prizes .list-prize li .prize-img {
      padding: 15px 5px 5px;
      width: 30%;
      float: left; }
      .prizes .list-prize li .prize-img img {
        width: 100%;
        display: block; }
    .prizes .list-prize li .cont {
      float: left;
      color: #14305A;
      max-width: 70%;
      padding-left: 10px; }
      .prizes .list-prize li .cont p {
        color: #AA8D92; }

@media only screen and (min-width: 520px) {
  .banner .banner-content {
    text-align: left;
    vertical-align: middle; }
  .banner::before {
    display: none; }
  .btn.btn-primary {
    width: auto; } }

/*# sourceMappingURL=main.css.map */