@import 'normalize'; 

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

  a{
    font-family: sans-serif;
  }

body{
  background: #e6e6e6;
  font-family: sans-serif;
  font-size: 14px;
  font: caption;
  color: #222;
}

ul{
  -webkit-padding-start: 0px;
}


.banner{
	position: relative;
  display: table;
  background-color: #808080;
  width: 100%;
  padding: 20px ;
  min-height: 250px;
  color: #fff;
  background:transparent url('../img/banner.jpg') right top no-repeat;
  background-size: cover;

      &::before{
      content: "";
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100px;
      background-color: rgba(0, 0, 0, 0.61);

    }

  .banner-content{
    display: table-cell;
    text-align: center;
    position: relative;
    vertical-align: bottom;
    z-index: 99;

  }



  h4{
    font-size: 0.9em;
  }

}

.btn {
    color: #fff;
    border: 0px;
    display: inline-block;
    margin-right: 1em;
    padding: .5em 1em;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 3px;

    &.btn-primary{
      color: #fff;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#214e92+0,214e92+0,14305a+100 */
      background: rgb(33,78,146); /* Old browsers */
      background: -moz-linear-gradient(top, rgba(33,78,146,1) 0%, rgba(33,78,146,1) 0%, rgba(20,48,90,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(33,78,146,1) 0%,rgba(33,78,146,1) 0%,rgba(20,48,90,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(33,78,146,1) 0%,rgba(33,78,146,1) 0%,rgba(20,48,90,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#214e92', endColorstr='#14305a',GradientType=0 ); /* IE6-9 */
      width: 100%;
    }
}

.btn-outline{
  border: 1px solid #fff;
  background-color: #f5f5f5;
  color: rgb(168,20,52);
}

#login-modal input[type=text], input[type=password] {
    margin-top: 10px;
}

.sign{
	height: 40px;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
	list-style: none;

	li{
		display: inline-block;
        margin-right: 20px;

		a{
			color: #fff;
		}
	}
}

.single-ans{
    margin-top: 1em;
}
.answer-status{
    padding: 10px;
    text-transform: uppercase;
}

.checkanswer{
    margin-top: 2em;
}

.wizard>.content{
	background: #eee;
    display: block;
    margin: .5em;
    min-height: 15em;
    overflow: hidden;
    position: relative;
    width: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard>.content>.body {
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

.wizard>.content>.title{
	position: absolute;
    left: -999em;
}
.wizard>.actions{
	position: relative;
    display: block;
    text-align: right;
    width: 100%;
}
.wizard>.actions>ul {
    display: inline-block;
    text-align: right;
}

.wizard>.actions>ul>li{
	margin: 0 .5em;
	float: left;
	display: block;
    padding: 0;
}

.wizard>.actions a, .wizard>.actions a:hover, .wizard>.actions a:active{
	color: #fff;
    background: #14305A;
    border: 0px;
    display: block;
    padding: .5em 1em;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 3px;

       &:hover {
    background-color: lighten(#14305A, 6%);
  }
}

.wizard>.actions .disabled a, .wizard>.actions .disabled a:hover, .wizard>.actions .disabled a:active{
	background:#eee;
	color: #aaa;
}

.wizard > .actions > ul >li:first-child{
    display: none;
}
.steps{
	display: none;
}

.pool{
	padding: 10px;
	position: relative;
}

.logologin{
    text-align: center;

    img{
      width: 135px;
    }
}

.bg-success{
    background-color: #dff0d8;
}
.bg-danger{
    background-color: #f2dede;
}

.login-btn {
    margin-bottom: 10px;
}

.wrapper {  
    margin-top: 45px;
  margin-bottom: 45px;
}

.site-wrap{
    background-color: #fff;
    font-size: 0.9em;
    max-width: 750px;
    margin: 0 auto;
    display: block;
}

.header-top, .header-bottom{
    padding: 0 20px;
    position: relative;
    display: table;
    width: 100%;
}

.logo{
    position: absolute;
    left: 4%;
    z-index: 5;
    top: 10px;


    img{
        width:120px;
    }
}

.pool{
    h3{
        text-align: center;
    }
}

.header-top{
    height: 45px;
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#214e92+0,214e92+0,14305a+100 */
  background: rgb(33,78,146); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(33,78,146,1) 0%, rgba(33,78,146,1) 0%, rgba(20,48,90,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(33,78,146,1) 0%,rgba(33,78,146,1) 0%,rgba(20,48,90,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(33,78,146,1) 0%,rgba(33,78,146,1) 0%,rgba(20,48,90,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#214e92', endColorstr='#14305a',GradientType=0 ); /* IE6-9 */
    .main-nav{
      display: table-cell;
      vertical-align: middle;
      text-align: right;

      a{
        color: #fff;
        color: rgba(255, 255, 255, 0.71);
        margin-right: 5px;
      }
    }

    p{
        color: #fff;
        display: table-cell;
        vertical-align: middle;
    }
}

.header-bottom{
    height: 50px;
    background-color: #ffe793;
    overflow: hidden;
    .acc{
        text-align: right;
        display: table-cell;
        vertical-align: middle;
    }
    .points{
        display: table-cell;
        vertical-align: middle;

        p{
            margin: 0;
        }
    }
}

.final-points{
    text-align: center;

    h1{
        font-size: 7em;
    }
}

.form-signin .form-signin-heading, .form-signin .checkbox{
    margin-left: 20px;
}

.form-signin-heading{
    text-align: center;
    font-size: 16px;
}

.pay{
    padding-top: 40px;
    padding-bottom: 40px;
}

.small-pay{
    text-align: center;
    color: #774b4b;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  // background-color: #fff;  

  .btn-group-lg>.btn, .btn-lg{
    border-radius: 3px;
  }

  .btn-opera{
    color: #fff;
    background: #14305A;
    border: 0px;

&:focus {
    outline: none;
  }

   &:hover {
    background-color: lighten(#14305A, 6%);
  }
  }

  .form-signin-heading,
    .checkbox {
      margin-bottom: 20px;
    }

    .checkbox {
      font-weight: normal;
    }

    .form-control {
      position: relative;
      font-size: 16px;
      height: auto;
      border: 1px solid #999;
      padding: .75em;
      border-radius: 2px;
      transition: all .25s ease-in;
      box-shadow: inset 0 0 0;
      box-shadow: 0 0 2px #ddd;
      
      &:focus {
        outline: none;
        border: 1px solid #14305A;
        z-index: 2;
      }
    }

    input[type="text"] {
      margin-bottom: -1px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    input[type="password"] {
      margin-bottom: 20px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
}
// .single-question{
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	opacity: 0;
// 	display: none;
// }

// .single-question:first-child{
// 	display: block;
// 	opacity: 1;
// }

.heading{
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  color: #214E92;
  margin-bottom: 0.5em;
}
.how-to-play{
  h4{
    text-align: center;

  }
}

.how-to{
  list-style-type: none;
  overflow: hidden;
  padding-top: 20px;
  text-align: center;

  li{
      display: inline-block;
      width: auto;
      text-transform: capitalize;
      margin: 0 20px 40px 20px;
      text-align: center;

      @media only screen and (min-width: 520px) {
        width: 30%;
      }
      i{
        display: block;
        width: 75px;
        margin: 0 auto 10px;

        img{
          width: 80%;
        }
      }
  }
}

.prizes{
  background-color: #E6E8E6;
  padding: 10px;

  .list-prize{

    li{
      // width: 350px;
      background-color: #fff;
      overflow: hidden;
      margin-bottom: 2em;

      .prize-img{
        padding: 15px 5px 5px;
        width: 30%;
        float: left;

        img{
          width: 100%;
          display: block;

        }
      }
      .cont{
        float: left;
        color: #14305A;
        max-width: 70%;
        padding-left: 10px;

        p{
          color: #AA8D92;
        }
      }
    }
  }
}

  @media only screen and (min-width: 520px) {
     .banner .banner-content{
        text-align: left;
        vertical-align: middle;
     }

     .banner::before{
      display: none;
     }

     .btn.btn-primary{
      width: auto;
     }
  }